<section>
    <div class="page-header">
        <div class="pull-right" ng-show="vm.document.isCurrentUserOwner">
            <a class="btn btn-primary" ui-sref="documents.edit({ documentId: vm.document._id })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" ng-click="vm.remove()">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <h1 ng-bind="vm.document.title"></h1>
    </div>

    <small>
        <em class="text-muted" style="display:none">
            Posted on
            <span ng-bind="vm.document.created | date:'mediumDate'"></span>
            by
            <span ng-if="vm.document.user" ng-bind="vm.document.user.displayName"></span>
            <span ng-if="!vm.document.user">Deleted User</span>
        </em>
    </small>
    <p class="lead" ng-bind-html="vm.document.content|unsafe"></p>

    <div ng-show="vm.document.datefromNormal> now">
        <div class="page-header">
            <h1>Application form</h1>
        </div>
        {{applysuccess}}
        <form name="vm.form.saveApply" class="row" ng-submit="vm.saveApply(vm.form.saveApply.$valid)"
              novalidate>
            <div class="col-xs-6">
                <div class="form-group" show-errors>

                    <label class="control-label" for="name1">Name and Surname</label>
                    <input name="name1" type="text" ng-model="vm.document.name1" id="name1" class="form-control"
                           placeholder="Name" required>

                    <div ng-messages="vm.form.saveApply.name1.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Name is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <input name="surname1" type="text" ng-model="vm.document.surname1" id="surname1" class="form-control"
                           placeholder="Surname" required>

                    <div ng-messages="vm.form.saveApply.surname1.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Surname is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <input name="code1" type="text" ng-model="vm.document.code1" id="code1" class="form-control"
                           placeholder="Code" required>

                    <div ng-messages="vm.form.saveApply.code1.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Code is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <input name="email1" type="email" ng-model="vm.document.email1" id="email1" class="form-control"
                           placeholder="Email" required>

                    <div ng-messages="vm.form.saveApply.email1.$error" role="alert">
                        <p class="help-block error-text" ng-message when="required">Email is required.</p>

                        <p class="help-block error-text" ng-message when="email">Email is in wrong
                            format</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Apply</button>
                </div>
                <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">

                    <label class="control-label" for="name2">Name and Surname*</label>
                    <input name="name2" type="text" ng-model="vm.document.name2" id="name2" class="form-control"
                           placeholder="Name">


                </div>
                <div class="form-group">
                    <input name="surname2" type="text" ng-model="vm.document.surname2" id="surname2" class="form-control"
                           placeholder="Surname">

                </div>
                <div class="form-group">
                    <input name="code2" type="text" ng-model="vm.document.code2" id="code2" class="form-control"
                           placeholder="Code">

                </div>
                * Only if you want to apply as pair
            </div>
        </form>
    </div>

    <ng-gallery images="vm.document.gallery" ng-if="vm.document.gallery.length"></ng-gallery>
</section>
