<section ng-init="find()">
    <img src="/modules/core/client/img/brand/hometop.png" class="img-responsive" alt="SAZU"/>

    <!--

        {{noofdays}}
        {{yearNow}}
        {{monthNow}}
        {{dayNow}}
        -->

    <table class="calendar hidden-xs">
        <tr>
            <td class="title">Koledar dogodkov:</td>
            <td><i class="fa fa-angle-left" style="color:#ff9c00;font-weight:bold;cursor:pointer"
                   ng-click="changeCal(-1)"></i>&nbsp;&nbsp;&nbsp;{{months[monthNow-1]}}&nbsp;&nbsp;&nbsp;<i
                    class="fa fa-angle-right" style="color:#ff9c00;font-weight:bold;cursor:pointer"
                    ng-click="changeCal(1)"></i></td>
            <td ng-repeat="day in getDays(noofdays) track by $index">
                <span ng-show="exists(yearNow+'-'+((monthNow < 10) ? ('0' + monthNow) : monthNow) +'-'+ (($index < 10) ? ('0' + $index) : $index))"
                      style="color:#ff9c00;cursor:pointer">{{$index + 1}}</span>
                <span ng-show="!exists(yearNow+'-'+((monthNow < 10) ? ('0' + monthNow) : monthNow) +'-'+ (($index < 10) ? ('0' + $index) : $index))">{{$index + 1}}</span>
            </td>
        </tr>
    </table>


    <style>
        select {
            margin: 0;
            background: #1162b2;
            color: white;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.36);
            outline: none;
            display: inline-block;
            font-size: 17px;
            font-style: italic;
            padding: 5px 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 60px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            select {
                padding-right: 18px
            }
        }

        label {
            position: relative
        }

        label:after {
            content: "\f078";
            font-family: "FontAwesome";
            font-size: 11px;
            color: #ff9c00;
            right: 4px;
            top: 10px;
            padding: 0 0 2px;
            position: absolute;
            pointer-events: none;
        }

        label:before {
            content: '';
            right: 4px;
            top: 0px;
            width: 23px;
            height: 18px;
            background: transparent;
            position: absolute;
            pointer-events: none;
            display: block;
        }
    </style>
    <div class="hidden-lg" style="background:#1162b2;padding:10px;overflow:hidden;color:white;">
        Koledar dogodkov:<br/>

        <div style="float:left;padding-right:20px">
            <label>
                <select id="international1">
                    <option value="tests" selected="selected">DD</option>
                    <option value="tests.au">Option 1</option>
                    <option value="tests.br/">Option 2</option>
                    <option value="tests">Option 3</option>
                </select>
            </label></div>
        <div style="float:left;padding-right:20px">
            <label>
                <select id="international2">
                    <option value="tests" selected="selected">MM</option>
                    <option value="tests.au">Option 1</option>
                    <option value="tests.br/">Option 2</option>
                    <option value="tests">Option 3</option>
                </select>
            </label></div>
        <div style="float:left;padding-right:20px;">

            <label>
                <select id="international3">
                    <option value="tests" selected="selected">LL</option>
                    <option value="tests.au">Option 1</option>
                    <option value="tests.br/">Option 2</option>
                    <option value="tests">Option 3</option>
                </select>
            </label>
        </div>
        <button type="submit" style="
        width:40px;
        height:40px;
        background: #ff9c00;
        border:0;
        border-radius:20px;
        font-size: 24px;
        color:#262626
        "><i class="fa fa-angle-right"></i></button>
    </div>


    <div style="height: 550px" class="hidden-xs ">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" index="$index" style="height:500px">
                <img ng-src="{{slide.image[0].destination}}{{slide.image[0].file}}" class="carousel-img"
                     ng-class="{'portrait': slide.image[0].orientation == 'portrait'}">

                <div class="carousel-caption">
                    V FOKUSU
                    <br/><br/>
                    <a ui-sref="events.view({ eventId: slide._id })"><h4>{{slide.title}}</h4></a>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden-lg" style="height:430px;margin-top:30px;">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" index="$index"  style="height:410px;">
                <img ng-src="{{slide.image[0].destination}}{{slide.image[0].file}}" class="carousel-img"
                     ng-class="{'portrait': slide.image[0].orientation == 'portrait'}">
                <div class="carousel-caption">
                    V FOKUSU
                    <br/><br/>
                    <a ui-sref="events.view({ eventId: slide._id })"><h4>{{slide.title}}</h4></a>
                </div>
            </div>
        </div>
    </div>



    <div style="width:100%;text-align: center;font-size:34px;font-family:'Domine';color: #383838;padding:0 0 30px 0">
        Novice in dogodki
    </div>

    <div class="list-group">
        <div class="col-lg-6 col-xs-12 listhome" ng-repeat="event in vm.events | limitTo: 4" ui-sref="events.view({ eventId: event._id })"
             >
            <img ng-src="{{event.image[0].destination}}{{event.image[0].file}}" class="img-responsive">
            <span style="display:block;padding-top:20px;font-family: 'Source Sans Pro';
  font-size: 17px;
  letter-spacing: 1.5px;
  color: #383838;">DOGODKI</span>
            <h4 ng-bind="event.title"></h4>
        </div>
    </div>


    <!--    <div uib-datepicker ng-model="dt" class="well well-sm" template-url="template/alert/alertxx.html"></div>


        <!--
        <json-tree json='jsonData'></json-tree>
        <pre style="background-color: rgba(236, 255, 220, 0.47);"><code>{{jsonData | json}}</code></pre>
        <pre>
        {{vm.menu | json}}
            </pre> -->
    <!--
    <div class="page-header">
        <h1>Tournaments</h1>
    </div>
    <div class="page-header">
        <h2>Live</h2>
    </div>
    <div class="list-group">
        <a ng-repeat="event in vm.events" ui-sref="route1({ eventId: event.slug })" class="list-group-item"
           ng-show="event.datefrom < now && event.dateto > now;">
            <h4 class="list-group-item-heading" ng-bind="event.title"></h4>
            <small class="list-group-item-text">
                <span ng-bind="event.datefrom | date:'mediumDate'"></span> - <span
                    ng-bind="event.dateto | date:'mediumDate'"></span>
            </small>
        </a>
    </div>
    <div class="page-header">
        <h2>Coming</h2>
    </div>
    <div class="list-group">
        <a ng-repeat="event in vm.events" ui-sref="route1({ eventId: event.slug })" class="list-group-item"
           ng-show="event.datefrom> now">
            <h4 class="list-group-item-heading" ng-bind="event.title"></h4>
            <small class="list-group-item-text">
                <span ng-bind="event.datefrom | date:'mediumDate'"></span> - <span
                    ng-bind="event.dateto | date:'mediumDate'"></span>
            </small>
        </a>
    </div>

    <div class="page-header">
        <h2>Past</h2>
    </div>
    <div class="list-group">
        <a ng-repeat="event in vm.events" ui-sref="route1({ eventId: event.slug })" class="list-group-item"
           ng-show="event.datefrom< now && event.dateto < now">
            <h4 class="list-group-item-heading" ng-bind="event.title"></h4>
            <small class="list-group-item-text">
                <span ng-bind="event.datefrom | date:'mediumDate'"></span> - <span
                    ng-bind="event.dateto | date:'mediumDate'"></span>
            </small>
        </a>
    </div>
    -->


</section>
